[user]
	name = Siming Feng
	email = sfeng@roblox.com
[core]
	excludesfile = ~/.gitignore_global
[pull]
	rebase = false
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[push]
	autoSetupRemote = true
[credential]
	helper = 
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://github.rbx.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[alias]
	append = town append
	compress = town compress
	continue = town continue
	contribute = town contribute
	delete = town delete
	diff-parent = town diff-parent
	down = town down
	hack = town hack
	observe = town observe
	park = town park
	prepend = town prepend
	propose = town propose
	rename = town rename
	repo = town repo
	set-parent = town set-parent
	ship = town ship
	sync = town sync
	up = town up
[maintenance]
	repo = /Users/sfeng/git/roblox/deployment
